{% extends "base.html" %}

{% block content %}

<main class="container">
    <h1>Rank</h1>
    <div>
      {% if users %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
                {% for u in users %}
                    <tr>
                        <th scope="row"></th>
                        <td>{{u.username}}</td>
                        <td>{{u.score}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>  
      {% endif %} 
    </div>
</main>

{% endblock %}